<div class="djhj" id="djhj">
    <div class="djhj-notification">
      <div class="djhj-message">

          You are currently working on behalf of <em>{{ user }} ss {{ request.user.is_hijacked }}</em>.

      </div>
      <form action="{% url 'intermediate_release' %}" method="POST" class="djhj-actions">
        {% csrf_token %}
        <input type="hidden" next="admin:index" value="{{ request.path }}">
        <button class="djhj-button" onclick="document.getElementById('djhj').style.display = 'none';" type="button">
          hide'
        </button>
        <button class="djhj-button" type="submit">
    'release' 
        </button>
      </form>
    </div>
  </div>
