{% extends 'base.html' %}
{% block content %}
<main>
    <div class="task-form">
        <h1>
            My Tasks
        </h1>
        {% if my_tasks.all %}
        <table>
            <thead>
                <th>
                    Name
                </th>
                <th>
                    Start Date
                </th>
                <th>
                    End Date
                </th>
                <th>
                    Is completed
                </th>
            </thead>
            {% for task in my_tasks %}
            <tr>
                <td>
                    {{ task.name }}
                </td>
                <td>
                    {{ task.start_date }}
                </td>
                <td>
                    {{ task.due_date }}
                </td>
                <td>
                    {% if task.is_completed == True %}
                    {{ task.is_completed|yesno:"Done, " }}
                    {% else %}
                    <form method="post" action="{% url 'complete_task' task.id %}">
                        {% csrf_token %}
                        <input type="hidden" name="is_completed" value="True">
                        <button>Complete</button>
                    </form>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
        <p>You have no tasks</p>
        {% endif %}
    </div>
</main>
{% endblock content %}